#account-container {
  max-width: 780px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
#account-container > * {
  margin-bottom: 1.5rem;
}

#update-user-form, #change-password-form {
  display: flex;
  flex-direction: column;
}
#update-user-form label, #change-password-form label {
  display: block;
}
#update-user-form input, #change-password-form input {
  width: 50%;
  font-size: 1rem;
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  direction: ltr;
}
#update-user-form button, #change-password-form button {
  width: 100px;
  margin-right: auto;
}
@media screen and (max-width: 580px) {
  #update-user-form input, #change-password-form input {
    width: 100%;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 980px;
  padding: 0 1rem;
  margin: 0 auto;
}
.about-container h2 {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.error-page-404-500-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.error-page-404-500-text {
  font-size: 2rem;
}

.error-page-404-500-icon {
  margin-right: 2rem;
  font-size: 8rem;
}

#edit-container {
  max-width: 780px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
#edit-container > * {
  margin-bottom: 1.5rem;
}

#edit-header {
  display: flex;
  align-items: center;
}
#edit-header > *:not(:first-child) {
  background-color: #2a3336;
  padding: 0.5rem 1rem;
}
#edit-header > *:last-child {
  margin-right: 1rem;
}
#edit-header > *:nth-last-child(2) {
  margin-right: auto;
}
@media screen and (max-width: 500px) {
  #edit-header > *:not(h2) {
    font-size: 12px;
  }
  #edit-header > *:not(:first-child) {
    padding: 8px;
  }
  #edit-header > *:last-child {
    margin-right: 4px;
  }
}

.click-count {
  width: fit-content;
}

#edit-form {
  display: flex;
  flex-direction: column;
}
#edit-form label {
  display: block;
}
#edit-form input {
  font-size: 1rem;
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  direction: ltr;
}
#edit-form button {
  width: 100px;
  margin-right: auto;
}
@media screen and (max-width: 500px) {
  #edit-form input {
    width: 75%;
  }
}

#danger-zone {
  color: red;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid red;
}
#danger-zone *:last-child {
  margin-bottom: 0;
}

.danger-item {
  margin-bottom: 1.5rem;
}
.danger-item button {
  margin-bottom: 1rem;
}

.dashboard-navigation {
  position: relative;
  height: 100px;
  background-color: #2a3336;
  padding: 0 1rem;
}
.dashboard-navigation ul {
  display: flex;
  align-items: center;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
}
.dashboard-navigation ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f4f4;
  margin-left: 1rem;
  list-style: none;
}
.dashboard-navigation ul li a {
  color: #f4f4f4;
  text-decoration: none;
}
.dashboard-navigation ul li a:hover {
  opacity: 0.8;
}
.dashboard-navigation ul li:first-of-type {
  margin-right: 3rem;
}
.dashboard-navigation ul li:last-of-type {
  margin-left: 0;
}

@media screen and (max-width: 480px) {
  #desktop-ul {
    display: none;
  }
}

.navigation-profile {
  position: relative;
  margin-right: auto;
}

.navigation-profile-button {
  font-size: 1rem;
  color: #f4f4f4;
  background-color: #2a3336;
  border: none;
  cursor: pointer;
}

.navigation-profile-dropdown.hidden {
  display: none;
}

.navigation-profile-dropdown {
  position: absolute;
  top: 40px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);
  width: 180px;
  padding: 8px;
  background-color: #2a3336;
  border: 1px solid white;
  border-radius: 5px;
}
.navigation-profile-dropdown a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #f4f4f4;
  padding: 8px;
  margin-bottom: 8px;
  text-align: center;
  text-decoration: none;
}
.navigation-profile-dropdown a i {
  opacity: 0.7;
  margin-left: 8px;
}
.navigation-profile-dropdown a:last-of-type {
  margin-bottom: 0;
}
.navigation-profile-dropdown a:hover {
  background-color: #2e393b;
}

#mobile-ul {
  display: none;
}
@media screen and (max-width: 480px) {
  #mobile-ul {
    display: flex;
  }
}

.mobile-menu {
  position: absolute;
  display: none;
  top: 90px;
  left: 8px;
  background-color: #2a3336;
  padding: 1rem;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
}
.mobile-menu.open {
  display: block;
}
.mobile-menu > * {
  display: flex;
  align-items: center;
  width: 100%;
  color: #f4f4f4;
  padding: 8px;
  margin-bottom: 8px;
  text-align: center;
}
.mobile-menu > *:first-of-type {
  color: #2a3336;
  background-color: #EB6440;
  border-radius: 5px;
}
.mobile-menu > *:last-of-type {
  margin-bottom: 0;
}
.mobile-menu a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #f4f4f4;
  text-decoration: none;
}
.mobile-menu i {
  opacity: 0.7;
  margin-left: 8px;
}

#new-container {
  max-width: 780px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
#new-container > * {
  margin-bottom: 1.5rem;
}

#new-form {
  display: flex;
  flex-direction: column;
}
#new-form label {
  display: block;
}
#new-form input {
  width: 50%;
  font-size: 1rem;
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  direction: ltr;
}
#new-form select {
  font-size: 1rem;
  padding: 0.25rem;
}
#new-form button {
  width: 100px;
  margin-right: auto;
}
@media screen and (max-width: 500px) {
  #new-form input {
    width: 70%;
  }
}

#guide-list {
  padding-right: 1rem;
}
#guide-list li {
  margin-bottom: 8px;
}
#guide-list li:last-child {
  margin-bottom: 0;
}

.dashboard-container {
  max-width: 780px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.dashboard-container h2 {
  margin-bottom: 2rem;
}

#links-table {
  width: 100%;
  max-width: 780px;
  background-color: #2a3336;
  border-collapse: collapse;
}
#links-table th {
  color: gray;
  padding: 16px;
  border-bottom: 1px solid #7b7b7b;
  text-align: center;
}
#links-table tr {
  counter-increment: rowNumber;
}
#links-table td {
  color: #f4f4f4;
  padding: 16px;
  text-align: center;
}
#links-table td:first-of-type::before {
  content: counter(rowNumber);
  color: #aaaaaa;
}
#links-table td a {
  color: gray;
}
#links-table td a:hover {
  color: #f4f4f4;
}

.empty-table-indicator {
  color: #f4f4f4;
  background-color: #2a3336;
  padding: 1rem 0;
  text-align: center;
}

.main-navigation {
  height: 100px;
  background-color: #2a3336;
  padding: 0 1rem;
}
.main-navigation ul {
  display: flex;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
}
.main-navigation ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
}
.main-navigation ul li a {
  color: #EB6440;
}
.main-navigation ul li:last-child {
  margin-right: auto;
  margin-left: 0;
}

.login-form, .register-form {
  width: 300px;
}
.login-form label, .register-form label {
  display: inline-block;
}
.login-form input, .register-form input {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  direction: ltr;
}
.login-form button, .register-form button {
  width: 100%;
  margin-bottom: 1rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.login-container h2 {
  margin-bottom: 1rem;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.register-container h2 {
  margin-bottom: 1rem;
}

.btn {
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.btn.primary {
  color: #EB6440;
  background-color: #2a3336;
  padding: 0.5rem 1rem;
}

.btn.classic {
  color: #2a3336;
  background-color: transparent;
  text-decoration: underline;
}
.btn.classic:hover {
  color: #060707;
}

.btn.danger {
  color: red;
  background-color: #2a3336;
  padding: 0.5rem 1rem;
}

.form-errors {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid red;
}
.form-errors li {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.success-feedback {
  padding: 1rem;
  border: 1px solid green;
}

.failure-feedback {
  padding: 1rem;
  border: 1px solid red;
}

.loading {
  filter: opacity(0.7);
  cursor: progress;
  pointer-events: none;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 26px;
  height: 24px;
  z-index: 2;
}
.burger div {
  width: 15%;
  height: 14%;
  background-color: #EB6440;
  transition: transform 300ms ease, visibility 300ms ease, opacity 300ms ease, width 300ms ease;
  border-radius: 8px;
}
.burger.open div:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 5px);
  width: 100%;
  height: 10%;
}
.burger.open div:nth-of-type(2) {
  visibility: hidden;
  transform: rotateY(45deg) translateX(-40px);
  opacity: 0;
}
.burger.open div:nth-of-type(3) {
  transform: rotate(-45deg) translate(4px, -5px);
  width: 100%;
  height: 10%;
}

.top-segment {
  display: flex;
  align-items: center;
  background-color: #2a3336;
  padding: 1rem;
}
.top-segment *:first-child {
  margin-left: 1rem;
}

.bottom-segment {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  border: 1px solid #2a3336;
}

@font-face {
  font-family: Iran;
  src: url("../../font/IRAN.ttf");
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Iran;
  color: #EB6440;
  background-color: #EFF5F5;
  direction: rtl;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 980px;
  height: 500px;
  padding: 0 1rem;
  margin: 0 auto;
}
.main-container h1 {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}
.main-container form {
  width: 500px;
  margin-bottom: 3rem;
}
.main-container form input {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
  direction: ltr;
}
@media screen and (max-width: 480px) {
  .main-container p {
    text-align: center;
  }
}

.landing-image {
  width: 680px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.landing-image img {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .landing-image {
    width: 100%;
  }
}

.benefits-details {
  height: 100%;
}
.benefits-details p {
  line-height: 1.4;
}
.benefits-details ul {
  margin-right: 2rem;
}
.benefits-details ul li {
  margin: 1rem 0;
}

/*# sourceMappingURL=main.css.map */
