<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/css/fontawesome/css/solid.min.css">
  <title>500 | خطای سرور</title>
</head>
<body>
  <% if(locals.user) {%>
    <%- include('../partials/navigation.protected.ejs'); %>
  <% } else { %>
    <%- include('../partials/navigation'); %>
  <% } %>
  <main class="error-page-404-500-container">
    <div class="error-page-404-500-text">
      <h2>خطای 500</h2>
      <p>متاسفانه خطایی در سرور رخ داده است</p>
    </div>
    <div class="error-page-404-500-icon">
      <i class="fa-solid fa-face-frown"></i>
    </div>
  </main>
</body>
</html>