<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/css/fontawesome/css/solid.min.css">
  <title>شورتر | پنل کاربری</title>
</head>
<body>

  <%- include('../partials/navigation.protected.ejs') %>
  
  <main class="dashboard-container">
    <h2>لینک های من</h2>
    <section style="overflow-x: scroll;">
      <table id="links-table">
        <thead>
          <tr>
            <th>#</th>
            <th>شناسه لینک</th>
            <th>لینک کوتاه شده</th>
            <th>وضعیت</th>
            <th>عملیات</th>
          </tr>
        </thead>
        <tbody>
          <tr id="list-end-breakpoint"></tr>
        </tbody>
      </table>
    </section>
  </main>

  <script src="/js/dashboard.js"></script>
</body>
</html>

<!-- <script type="module">
    import { Grid, html } from 'https://unpkg.com/gridjs?module';
    // import { fa_IR } from 'https://unpkg.com/gridjs/l10n/dist/l10n.module.js';

    new Grid({
      // columns: ['#', 'شناسه', 'لینک کوتاه شده', 'عملیات'],
      columns: [
        {id: 'index', name: '#'},
        {id: 'url', name: 'شناسه'},
        {id: 'shortId', name: 'لینک کوتاه شده'},
        {id: 'operation', name: 'عملیات'}
      ],
      data: [
        {
          index: "1",
          url: "https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro",
          shortId: "1tt822z0leh3js3s",
          operation: '<a href="">تغییر</a><a href="">حذف</a>'
        },
        {
          index: "2",
          url: "https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro",
          shortId: "1tt822z0leh3js3s",
          operation: '<a href="">تغییر</a><a href="">حذف</a>'
        },
        {
          index: "3",
          url: "https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro",
          shortId: "1tt822z0leh3js3s",
          operation: '<a href="">تغییر</a><a href="">حذف</a>'
        },
        {
          index: "4",
          url: "https://www.w3schools.com",
          shortId: "1tt822z0leh3js3s",
          operation: '<a href="">تغییر</a><a href="">حذف</a>'
        },
      ],
      // language: fa_IR
    }).render(document.querySelector('.tbl'));
  </script> -->