<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/css/fontawesome/css/solid.min.css">
  <title>Shortr | Link Shortening Tool</title>
</head>
<body>
  <nav class="dashboard-navigation">
    <ul>
      <div>
        <h1>شورتر</h1>
      </div>
      <li>
        <a href="/dashboard/new">ثبت لینک جدید</a>
      </li>
      <li>
        <a href="/dashboard/ticket">تیکت</a>
      </li>
      <div class="navigation-profile">
        <button class="navigation-profile-button">
          <span>سینا بیرق دار</span>
          &nbsp;&nbsp;
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="navigation-profile-dropdown">
          <a href="/profile">
            <i class="fa-solid fa-user"></i>
            <span>حساب کاربری</span>
          </a>
          <a href="/auth/logout">
            <i class="fa-solid fa-power-off"></i>
            <span>خروج</span>
          </a>
        </div>
      </div>
    </ul>
  </nav>
  
  <main class="dashboard-container">
  </main>
</body>
</html>