<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <title>Shortr | Link Shortening Tool</title>
</head>
<body>

  <%- include('../partials/navigation.protected.ejs') %>
  
  <main id="edit-container">
    <!-- <h2>https://google.com</h2>
    <div class="click-count">
      <span>تعداد کلیک: </span>
      <span>216</span>
    </div> -->
    <!-- <section id="edit-form-container">
      <form id="edit-form">
        <div>
          <label for="url">آدرس لینک کوتاه شده</label>
          <input type="text" name="url" id="url"><span style="padding-right: 1rem;">/ shortr.ir</span>
        </div>
        <button type="submit" class="btn primary">ثبت</button>
      </form>
    </section> -->
    <!-- <button id="create-mock">Create mock</button> -->
    <!-- <button id="fetch-mock">Fetch my urls</button> -->
  </main>

  <script src="/js/edit.js"></script>
</body>
</html>