<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <title>Shortr | Link Shortening Tool</title>
</head>
<body>

  <%- include('../partials/navigation.protected.ejs') %>
  
  <main id="edit-container"></main>

  <script src="/js/moment.js"></script>
  <script src="/js/edit.js"></script>
</body>
</html>