<!-- xozy.ir -->
<!-- ztty.ir -->
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <title>Shortr | Link Shortening Tool</title>
</head>
<body>
  <% if(locals.user) {%>
    <%- include('../partials/navigation.protected.ejs'); %>
  <% } else { %>
    <%- include('../partials/navigation'); %>
  <% } %>
  
  <main class="main-container">
    <h1>کوتاه کننده لینک شورتر</h1>
    <p>لینک بلند خود را با چند کلیک کوتاه کنید و آن را در صفحات وب به اشتراک بگذارید.</p>
    <div class="landing-image">
      <img src="/img/landing.png" alt="landing">
    </div>
    <aside class="benefits-details">
      <p>با ایجاد حساب کاربری، از امکانات فوق العاده سرویس شورتر بهره مند شوید:</p>
      <ul>
        <li>داشبورد اختصاصی جهت بررسی عملکرد لینک</li>
        <li>مشاهده تعداد بازدیدهای لینک</li>
        <li>مشاهده اطلاعات کاربردی بازدیدکنندگان</li>
        <li>بهره مندی از دامنه دلخواه شما</li>
        <!-- <li>شناسایی لینک های اسپم</li> -->
        <li>و ...</li>
      </ul>
    </aside>
  </main>
</body>
</html>