<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css" type="text/css">
  <title>Shortr | Link Shortening Tool</title>
</head>
<body>
  <nav class="main-navigation">
    <ul>
      <li>
        <a href="/">صفحه اصلی</a>
      </li>
      <li>
        <a href="/#pricing">قیمت گذاری</a>
      </li>
      <li>
        <a href="/termsofservice">قوانین و مقررات</a>
      </li>
      <li>
        <a href="/about">درباره ما</a>
      </li>
      <li>
        <a href="/login">ورود/ثبت نام</a>
      </li>
    </ul>
  </nav>
  
  <main class="login-container">
    <h2>ورود</h2>
    <form action="/auth/login" method="post" class="login-form">
      <label for="username">نام کاربری</label>
      <input type="text" name="username" id="username">
      <label for="password">رمزعبور</label>
      <input type="password" name="password" id="password">
      <button class="btn primary">وارد شوید</button>
    </form>
    <div>
      <span>حساب کاربری ندارید؟</span>
      <button class="btn classic">ثبت نام کنید</button>
    </div>
  </main>

  <script src="js/login.js"></script>
</body>
</html>