<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <title>لینک کوتاه جدید</title>
</head>
<body>
  
  <%- include('../partials/navigation.protected.ejs') %>

  <main id="new-container">
    <h2>لینک کوتاه جدید</h2>
    <div id="new-form-container">
      <div id="new-feedback-container"></div>
      <form id="new-form">
        <div>
          <label for="url">آدرس لینک</label>
          <input type="text" name="url" id="url">
          <span style="color: black;">://</span>
          <select name="protocol" id="protocol">
            <option value="http">HTTP</option>
            <option value="https">HTTPS</option>
          </select>
        </div>
        <button type="submit" class="btn primary">ثبت</button>
      </form>
      <div id="new-guide">
        <h4>راهنما</h4>
        <ul>
          <li>حتما پروتوکل (http یا https) را مطابق با لینک موردنظر انتخاب نمایید.</li>
          <li>آدرس لینک را بدون http یا https وارد کنید.</li>
          <li>عبارت www اختیاری می باشد.</li>
          <li>
            <span>نمونه های صحیح:</span>
            <div>www.domain.com</div>
            <div>domain.com</div>
            <div>subdomain.domain.com</div>
            <div>domain.com/foo/bar</div>
            <div>domain.com#foo</div>
            <div>domain.com?foo=bar</div>
            <div>...</div>
          </li>
        </ul>
      </div>
    </div>
  </main>

  <script src="/js/new.js"></script>
</body>
</html>