<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <title>لینک کوتاه جدید</title>
</head>
<body>
  
  <%- include('../partials/navigation.protected.ejs') %>

  <main id="new-container">
    <header>
      <h2>لینک کوتاه جدید</h2>
    </header>
    <div id="new-feedback-container"></div>
    <section>
      <div class="top-segment">
        <i class="fa-solid fa-circle-info"></i>
        <h4>اطلاعات لینک</h4>
      </div>
      <div class="bottom-segment">
        <form id="new-form">
          <div>
            <label for="url">آدرس لینک</label>
            <input type="text" name="url" id="url">
            <span style="color: black;">://</span>
            <select name="protocol" id="protocol">
              <option value="http">HTTP</option>
              <option value="https">HTTPS</option>
            </select>
          </div>
          <button type="submit" class="btn primary">ثبت</button>
        </form>
      </div>
    </section>
    <section>
      <div class="top-segment">
        <i class="fa-solid fa-circle-question"></i>
        <h4>راهنما</h4>
      </div>
      <div class="bottom-segment">
        <ul id="guide-list">
          <li>حتما پروتوکل (http یا https) را مطابق با لینک موردنظر انتخاب نمایید.</li>
          <li>آدرس لینک را بدون http یا https وارد کنید.</li>
          <li>عبارت www اختیاری می باشد.</li>
          <li>
            <span>نمونه های صحیح:</span>
            <div>www.domain.com</div>
            <div>domain.com</div>
            <div>subdomain.domain.com</div>
            <div>domain.com/foo/bar</div>
            <div>domain.com#foo</div>
            <div>domain.com?foo=bar</div>
            <div>...</div>
          </li>
        </ul>
      </div>
    </section>
  </main>

  <script src="/js/new.js"></script>
</body>
</html>