<nav class="main-navigation">
  <ul>
    <li>
      <a href="/">صفحه اصلی</a>
    </li>
    <!-- <li>
      <a href="/#pricing">قیمت گذاری</a>
    </li> -->
    <li>
      <a href="/termsofservice">قوانین و مقررات</a>
    </li>
    <li>
      <a href="/about">درباره ما</a>
    </li>
    <li>
      <a href="/login">ورود/ثبت نام</a>
    </li>
  </ul>
</nav>