.error-page-404-500-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.error-page-404-500-text {
  font-size: 2rem;
}

.error-page-404-500-icon {
  margin-right: 2rem;
  font-size: 8rem;
}