#account-container {
  max-width: 780px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;

  & > * {
    margin-bottom: 1.5rem;
  }
}

#update-user-form, #change-password-form {
  display: flex;
  flex-direction: column;

  label {
    display: block;
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    direction: ltr;
  }

  button {
    width: 100px;
    margin-right: auto;
  }
}
