#edit-container {
  max-width: 780px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 2rem;

  & > * {
    margin-bottom: 1.5rem;
  }
}

#edit-header {
  display: flex;
  align-items: center;
  
  & > *:not(:first-child) {
    background-color: #2a3336;
    padding: 0.5rem 1rem;
  }

  & > *:last-child {
    margin-right: 1rem;
  }

  & > *:nth-last-child(2) {
    margin-right: auto;
  }

  @media screen and (max-width: 500px) {
    & > *:not(h2) {
      font-size: 12px;
    }

    & > *:not(:first-child) {
      padding: 8px;
    }

    & > *:last-child {
      margin-right: 4px;
    }
  }
}

.click-count {
  width: fit-content;
}

#edit-form {
  display: flex;
  flex-direction: column;

  label {
    display: block;
  }

  input {
    font-size: 1rem;
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    direction: ltr;
  }

  button {
    width: 100px;
    margin-right: auto;
  }

  @media screen and (max-width: 500px) {
    input {
      width: 75%;
    }
  }
}

#danger-zone {
  color: red;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid red;

  & *:last-child {
    margin-bottom: 0;
  }
}

.danger-item {
  margin-bottom: 1.5rem;

  button {
    margin-bottom: 1rem;
  }
}