@import './colors';
@import './layout';
@import './forms';
@import './login.scss';
@import './utility.scss';
*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}

body {
  color: #EB6440;
  background-color: #EFF5F5;
  direction: rtl;
}

.main-navigation {
  height: 100px;
  background-color: #2C3639;
  background-color: #2a3336;

  ul {
    display: flex;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-left: 1rem;

      a {
        color: #EB6440;
      }

      &:last-child {
        margin-right: auto;
      }
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 980px;
  height: 500px;
  padding: 0 1rem;
  margin: 0 auto;
  
  h1 {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  form {
    width: 500px;
    margin-bottom: 3rem;
  
    input {
      display: inline-block;
      width: 100%;
      font-size: 1rem;
      padding: 0.25rem;
      margin-bottom: 1rem;
      direction: ltr;
    }
  }
}

.benefits-details {
  height: 100%;

  p {
    line-height: 1.4;
  }

  ul {
    margin-right: 2rem;

    li {
      margin: 1rem 0;
    }
  }
}