@import './dashboard.scss';
@import './navigation.scss';
@import './forms';
@import './login.scss';
@import './register.scss';
@import './common.scss';
@import './utility.scss';
*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}

body {
  color: #EB6440;
  background-color: #EFF5F5;
  direction: rtl;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 980px;
  height: 500px;
  padding: 0 1rem;
  margin: 0 auto;
  
  h1 {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  form {
    width: 500px;
    margin-bottom: 3rem;
  
    input {
      display: inline-block;
      width: 100%;
      font-size: 1rem;
      padding: 0.25rem;
      margin-bottom: 1rem;
      direction: ltr;
    }
  }
}

.benefits-details {
  height: 100%;

  p {
    line-height: 1.4;
  }

  ul {
    margin-right: 2rem;

    li {
      margin: 1rem 0;
    }
  }
}