.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.form {
  width: 300px;

  label {
    display: inline-block;
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    direction: ltr;
  }

  button {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.switch-form {
  text-align: center;
}

:is(#login-form, #register-form).hidden {
  display: none;
}