#new-container {
  max-width: 780px;
  margin: 0 auto;
  margin-top: 2rem;

  h2 {
    margin-bottom: 2rem;
  }
}

#new-form-container {
  max-width: 500px;
  margin: 0 auto;
}

#new-form {
  display: flex;
  flex-direction: column;

  label {
    display: block;
  }

  input {
    width: 79%;
    font-size: 1rem;
    padding: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    direction: ltr;
  }

  select {
    font-size: 1rem;
    padding: 0.25rem;
  }

  button {
    width: 100px;
  }
}

#new-guide {
  margin-top: 3rem;

  ul {
    padding-right: 1rem;
    margin: 1rem 0;
    li {
      margin-bottom: 8px;
    }
  }
}