.btn {
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.btn.primary {
  color: #EB6440;
  background-color: #2a3336;
  padding: 0.3rem 0;
}

.btn.classic {
  color: #2a3336;
  background-color: transparent;
  text-decoration: underline;

  &:hover {
    color: #060707;
  }
}

.form-errors {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid red;

  li {
    font-size: 0.9rem;
    margin-bottom: 4px;
  }
}

.success-feedback {
  padding: 1rem;
  margin-bottom: 3rem;
  border: 1px solid green;
}
